div.cabeçalho {
    text-align: center;
    font-size: 10vh;
    border: solid;
    background-color: orangered;
    border-width: 10%;

}
































* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wwf-header {
    background-color: #ffae00;
    border-bottom: 2px solid #080808;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 100px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 60px;
    /*Espaçamento*/
}

.nav-menu a {
    text-decoration: none;
    color: #222;
    /* Cor do texto preta/escura */
    font-weight: 600;
    font-size: 30px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #1c5a14;
    /* Verde WWF no hover */
}



div.lixo {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Ms1QC9cPy-2P3ReO3NcCGDrqIdZg9d1vdQ&s");
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}