
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(255,255,255);
    font-family: sans-serif;
} /* */
.centralizaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagemUm {
    width: 100%;
    height: 900px; /* ou qualquer altura que você quiser */
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.imagemUm img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    transform: scaleX(-1); /* se quiser o efeito espelhado */
}
.containerCarangueijo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas pequenas */
    position: relative;
    z-index: 0;
    margin-top: -40px;
    padding-bottom: 100px;
}
.containerLaranja{
    font-weight: 600;
    color:rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    background-color: rgb(255, 236, 201);
    padding: 40px;/* espaçamento interno*/
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: -220px;
}

.icone {                                    /*imagen pequena em cima da parte de nossos objetivos*/
  width: 100px;
  height: auto;
}
.imagemDois{
    flex: 1;
    min-width: 250px;
    text-align: right;
    z-index: -1;
}
.imagemDois img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.textoMenu{
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;/* espaçamento interno*/
    margin: 10px; /*Espaçamento externo */
    font-size: 300%;
    margin-top: -30%;
    font-family: 'Chalkduster, fantasy';
    font-weight: 700;
}
.textoInicial{
    font-weight: 600;
    color:cadetblue;
    font-family: Arial, sans-serif;
    z-index: 1;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    background-color: rgb(255, 255, 255);
    padding: 20px;/* espaçamento interno*/
    width: 60%;
    border-radius: 20px;
    border: 0.01px solid rgb(207, 205, 205);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.textoCarangueijo{
    margin-bottom: 40px;
    padding-left: 200px;
    font-weight: 600;
    font-size: large;
    color:rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    flex: 1;
    min-width: 250px;
}
.segundoTexto{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    background-color: white;
    padding: 20px;/* espaçamento interno*/
    width: 30%;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
}
.containerBotoes{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.containerBotoesDois{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;
    
}
.estiloBotoesRetangulo{
    transition: transform 0.3s ease;
    margin-top: 20px;
    padding: 15px 30px; 
    font-size: 20px;
    font-weight: 500; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0);             
    border: 0.5px solid rgb(0, 0, 0);              
    border-radius: 20px;     
    cursor: pointer;
    width: 300px;
    height: 60px;
}
.estiloBotoesRetangulo:hover{
    transform: translateY(-5px);
}
.estiloBotoesRetangulo:focus{
    margin-top: 20px;
    padding: 15px 30px; 
    font-size: 20px;
    font-weight: 500; 
    background-color: rgb(39, 156, 3); 
    color: rgb(0, 0, 0);             
    border: 0.5px solid rgb(0, 0, 0);              
    border-radius: 20px;     
    cursor: pointer;
    width: 300px;
    height: 60px;
}
.estiloBotoesQuadrado{
    transition: transform 0.3s ease;
    padding: 15px 30px; 
    font-size: 40px;
    font-weight:bold; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0);             
    border: 0.01px solid rgb(207, 205, 205);             
    border-radius: 20px;    
    cursor: pointer;
    width: 200px;
    height: 160px;
}
.estiloBotoesQuadrado:hover{
    transform: translateY(-5px);
}
.estiloBotoesQuadrado:focus{
    padding: 15px 30px; 
    font-size: 40px;
    font-weight:bold; 
    background-color: rgb(39, 156, 3);  
    color: rgb(0, 0, 0);             
    border: 0.01px solid rgb(207, 205, 205);             
    border-radius: 20px;    
    cursor: pointer;
    width: 200px;
    height: 160px;
}
.estiloBotoesDois{
    margin-top: 50px;
    padding: 15px 30px; 
    font-size: 20px; 
    background-color: rgb(39, 156, 3); 
    color: rgb(0, 0, 0);             
    border: 0.01px solid rgb(207, 205, 205);             
    border-radius: 14px;     
    cursor: pointer;
    width: 250px;
}
.estiloBotoesTres{
    padding: 15px 30px; 
    font-size: 20px; 
    background-color: rgb(39, 156, 3); 
    color: rgb(0, 0, 0);             
    border: 0.01px solid rgb(207, 205, 205);             
    border-radius: 10px;     
    cursor: pointer;
    width: 250px;
}
.inpt{
    transition: transform 0.3s ease;
    padding: 15px 30px; 
    font-size: 20px;
    font-weight: bold; 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);             
    border: 0.01px solid rgb(207, 205, 205);            
    border-radius: 20px;       
    cursor: pointer;
    width: 200px;
}
.inpt:hover{
    transform: translateY(-5px);
}
.containerNewsLetter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    gap: 60px;
    flex-wrap: wrap; 
    position: relative;
    z-index: 1;
    margin-top: 40px;
    border-radius: 20px;
    border: 0.01px solid rgb(207, 205, 205);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 60%;
}
.textoNewsletter{
    font-size: large;
    font-weight: 600;
    color:rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    z-index: 1;
    background-color: rgb(255, 236, 201);
    flex: 1;
    min-width: 250px;
}
.botaoSelecionado {
    background-color: rgb(39, 156, 3);
    color: rgb(0, 0, 0);
    border: 0.01px solid rgb(207, 205, 205); 
}
.textoContainerLaranja{
    padding-left: 200px;
    padding-right: 200px;
    font-size: large;
    font-weight: 600;
    color:rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    z-index: 1;
    background-color: rgb(255, 236, 201);
    flex: 1;
    min-width: 250px;
}
.solucoesBeneficios {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px 20px;
}
.bloco {                            /*arrumando o bloco de soluções e benefícios*/
    margin-top: 60px;   
    background-color: rgb(0, 121, 50); /* verde escuro */
    color: white;
    padding: 30px;
    border-radius: 20px;
    flex: 1 1 400px;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.bloco h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}
.bloco ul {
    padding-left: 20px;
}
.bloco li {
    margin-bottom: 12px;
    line-height: 1.5;
    font-weight: 500;
    font-size: large;
}
/* Cabeçalho */
.wwf-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

/* Menu de Navegação (Regras Unificadas) */
.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu a {
    text-decoration: none;
    color: #080808;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
    padding: 5px 0;
}

.nav-menu a:hover {
    color: #fe7b00;
}

.nav-menu a.button-doe:hover {
    background-color: #2b8a21;
    transform: scale(1.05);
}

